
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #EFEFEF;
}


/*~~~~~~~~Header~~~~~~~~*/

.header {
    background-color: #202020;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #5DBCF9;
    background-color: #202020;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.profile-pic {
    width: auto;
    color: #fFfFfF;
    padding-right: 5%;
}

.carrot {
    padding-left: 5%;
}

.nav-bar {
    width: 100%;
    font-size: .75em;
    color: #919191;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nav-opt {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.video:visited {
    color: #919191;
}

/*~~~~~~CONTENT~~~~~~*/
.content {
    width: 100%;
    height: 100%;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

/*~~~~~~CARD~~~~~~*/

.card {
    background-color: #fFfFfF;
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #ccc;
    justify-content: space-evenly;
}

.card-header {
    background-image: url("../assests/office1.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30%;
}


.card-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.share {
    background-color: #fFfFfF;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 5%;
    margin: 5%;
    border: none;
    outline: none;
}

.views {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .75em;
}

.card-content {
    padding: 0 7% 0 7%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.num-views {
    font-size: 2em;
}

.card-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-name > h3 {
    margin: 0;
}

.link {
    width: 100%;
    word-wrap: break-word;
    background-color: #EFEFEF;
}

.card-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-playlist {
    width: 100%;
}

.card-playlist > h4 {
    margin: 0;
}

.card-attach {
    margin: 0;
}
.num-attach {
    color: #5DBCF9;
}



/*~~~~~~desktop~~~~~~*/
@media only screen and (min-width: 800px) {
    .header {
        height: 125px;
    }

    .nav-bar {
        width: 40%;
        font-size: 1em;
    }

    .topic {
        display: block;
    }
}